<div id="search" class="input-group mb-3 search-area">
	<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control form-control-lg">
	<button type="button" data-lang="{{ language }}" class="btn-lg search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
</div>
